* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #37373f;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* ===== HEADER ===== */
.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 2px 15px rgba(0,0,0,0.08);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo span {
  color: #ce1212;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #7f7f90;
  font-weight: 500;
}

.nav-links a.active,
.nav-links a:hover {
  color: #000;
  border-bottom: 2px solid #ce1212;
}

.btn-book {
  background: #ce1212;
  color: #fff;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
}

.btn-book:hover {
   background: #ce1212d7; 
}

/* BURGER MENU */

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #000;
  margin: 4px 0;
}

/* HERO SECTION */

.hero {
  background: #eeeeee;
  padding: 80px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h2 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Amatic SC", sans-serif;
}

.hero-text p {
  margin: 5px 0 30px 0;
  color: #7f7f90;
  font-size: 20px;
  font-weight: 400;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.5s;
}

.btn-main {
  background: #ce1212;
  color: #fff;
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn-main:hover {
  background: #ce1212d7;
}

.btn-video {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 530;
  /* font-weight: bold; */
}

.btn-video:hover {
   color: #ce1212; 
}

.btn-video span {
  background: #ce1212;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  width: 450px;
}

/* ANIMATION IMAGE_HERO */
.hero-image img {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ANIMATION HERO_TEXT */
.hero-text {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: flex;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 300px;
  }
}

/* ===== ABOUT ===== */
.about {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h4 {
  font-size: 13px;
  letter-spacing: 1px;
  color: #7f7f90;
  padding-bottom: 20px;
  font-weight: 500;
}

.section-title h2 {
  font-size: 48px;
  font-family: "Amatic SC", sans-serif;
}

.section-title span {
  color: #ce1212;
}

/* LAYOUT */
.about-wrapper {
  display: flex;
  gap: 70px;
}

.about-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.book-box {
  margin-top: 20px;
  border: #37373f solid 5px;
  background: transparent;
  padding: 40px 40px;
  text-align: center;
}

.book-box h4{
   font-size: 20px; 
}
.book-box p {
  color: #ce1212;
  font-weight: 700;
  font-size: 30px;
}

/* TEXTE RIGHT */
.about-text {
  flex: 1;
}

.about-text .italic {
  font-style: italic;
  margin-bottom: 30px;
  line-height: 1.5;
}

.about-text ul {
  list-style: none;
  margin-bottom: 30px;
}

.about-text li {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.about-text p{
    line-height: 1.5;
}

.about-text span {
  color: #ce1212;
  font-weight: bold;
}

.about-img-small {
  width: 100%;
  margin-top: 20px;
}
