* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #37373f;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* ===== HEADER ===== */
.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 2px 15px rgba(0,0,0,0.08);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo span {
  color: #ce1212;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #7f7f90;
  font-weight: 500;
}

.nav-links a.active,
.nav-links a:hover {
  color: #000;
  border-bottom: 2px solid #ce1212;
}

.btn-book {
  background: #ce1212;
  color: #fff;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
}

.btn-book:hover {
   background: #ce1212d7; 
}

/* BURGER MENU */

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #000;
  margin: 4px 0;
}

/* HERO SECTION */

.hero {
  background: #eeeeee;
  padding: 80px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h2 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Amatic SC", sans-serif;
}

.hero-text p {
  margin: 5px 0 30px 0;
  color: #7f7f90;
  font-size: 20px;
  font-weight: 400;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.5s;
}

.btn-main {
  background: #ce1212;
  color: #fff;
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn-main:hover {
  background: #ce1212d7;
}

.btn-video {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 530;
  /* font-weight: bold; */
}

.btn-video:hover {
   color: #ce1212; 
}

.btn-video span {
  color: #ce1212;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.hero-image img {
  width: 450px;
}

/* ANIMATION IMAGE_HERO */
.hero-image img {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ANIMATION HERO_TEXT */
.hero-text {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: flex;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 300px;
  }
}

/* ===== ABOUT ===== */
.about {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h4 {
  font-size: 13px;
  letter-spacing: 1px;
  color: #7f7f90;
  padding-bottom: 20px;
  font-weight: lighter;
}

.section-title h2 {
  font-size: 48px;
  font-family: "Amatic SC", sans-serif;
}

.section-title span {
  color: #ce1212;
}

/* LAYOUT */
.about-wrapper {
  display: flex;
  gap: 70px;
}

.about-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.book-box {
  margin-top: 20px;
  border: #37373f solid 5px;
  background: transparent;
  padding: 40px 40px;
  text-align: center;
}

.book-box h4{
   font-size: 20px; 
}
.book-box p {
  color: #ce1212;
  font-weight: 700;
  font-size: 30px;
}

/* TEXTE RIGHT */
.about-text {
  flex: 1;
}

.about-text .italic {
  font-style: italic;
  margin-bottom: 30px;
  line-height: 1.5;
}

.about-text ul {
  list-style: none;
  margin-bottom: 30px;
}

.about-text li {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.about-text p{
    line-height: 1.5;
}

.about-text span {
  color: #ce1212;
  font-weight: bold;
}

.about-img-small {
  width: 100%;
  margin-top: 20px;
}

/* ===== WHY US ===== */
.why-us {
  background: #f7f7f7;
  padding: 80px 0;
}

.why-wrapper {
  display: flex;
  gap: 30px;
}

/* LEFT */
.why-left {
  background: #ce1212;
  color: #fff;
  padding: 30px;
  flex: 0.8;
}

.why-left h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.why-left p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.why-btn {
  display: inline-block;
  background: rgba(255,255,255,0.2);
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.why-btn:hover {
  background: #fff;
  color: #ce1212;
}

/* RIGHT */
.why-right {
  display: flex;
  gap: 20px;
  flex: 2;
}

.why-card {
  background: #fff;
  padding: 100px 45px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.why-card .icon {
  width: 70px;
  height: 70px;
  background: #fdecec;
  color: #ce1212;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 0 auto 20px;
}

.why-card:hover .icon {
    background-color: #ce1212;
    color: #fdecec;
}

.why-card h4 {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.why-card p {
  font-size: 14px;
  color: #7f7f90;
  line-height: 1.5;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .why-wrapper {
    flex-direction: column;
  }

  .why-right {
    flex-direction: column;
  }
}
.why-left,
.why-card {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.7s ease;
}

.why-us.show .why-left,
.why-us.show .why-card {
  opacity: 1;
  transform: translateY(0);
}

/* ===== STATS ===== */
.stats {
  background: url("/Public/Yummy/stats-bg.jpg") center/cover;
  height: 350px;
  position: relative;
}

.stats-overlay {
  background: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  align-items: center;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}

/* STAT BOX */
.stat-box h3 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 16px;
  font-weight: 500;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .stats {
    height: auto;
    padding: 60px 0;
  }

  .stats-wrapper {
    flex-direction: column;
    gap: 30px;
  }
}

/* ===== MENU ===== */
.menu {
  padding: 80px 0;
  background: #fff;
  text-align: center;
}

.section-title h3 {
  color: #7f7f90;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
  padding-bottom: 20px;
}

.section-title h2 {
  font-size: 48px;
  font-weight: lighter;
  margin: 10px 0 40px;
}

.section-title span {
  color: #ce1212;
}

/* ===== FILTERS ===== */
.menu-filters {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin-bottom: 40px;
  padding: 0;
}

.menu-filters li {
  cursor: pointer;
  font-weight: lighter;
  color: #37373f;
  position: relative;
  padding-bottom: 10px;
}

.menu-filters li.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ce1212;
  left: 0;
  bottom: 0;
}

/* ===== ITEMS GRID ===== */
.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* ===== MENU ITEM ===== */
.menu-item {
  text-align: center;
}

.menu-item img {
  width: 200px;
  margin-bottom: 15px;
}

.menu-item h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.menu-item p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.menu-item span {
  font-size: 18px;
  font-weight: bold;
  color: #ce1212;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .menu-container {
    grid-template-columns: 1fr;
  }
}

/* ===== Testimonials ===== */
.testimonials {
  padding: 80px 0;
}

.testimonials .container {
    background: #f7f7f7
}

.slider {
  overflow: hidden;
  max-width: 900px;
  margin: auto;
}

.slider-track {
  display: flex;
  transition: transform 0.6s ease;
}

.slide {
  min-width: 100%;
}

.testimonial {
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
  border-left: 4px solid #ce1212;
}

.text p {
  font-style: italic;
  color: #555;
  line-height: 1.7;
}

.quote {
  color: #ce1212;
  font-size: 22px;
}

.text h4 {
  margin: 10px 0 4px;
}

.role {
  color: #999;
  font-size: 14px;
}

.stars {
  color: #ffc107;
  margin-top: 8px;
}

.testimonial img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.dots {
  text-align: center;
  margin-top: 30px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}

.dot.active {
  background: #ce1212;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .testimonial {
    flex-direction: column;
    text-align: center;
    border-left: none;
    border-top: 4px solid #ce1212;
  }
}

/* ===== EVENTS ===== */
/* .events {
  background: #000;
  padding: 80px 0;
}
.events-slider {
  overflow: hidden;
  margin-top: 50px;
}

.events-track {
  display: flex;
  gap: 30px;
  transition: transform 0.6s ease;
}

.event-card {
  min-width: calc(33.333% - 20px);
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.overlay h3 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #fff;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid #ce1212;
  width: fit-content;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 14px;
  line-height: 1.6;
  color: #ddd;
}

/* RESPONSIVE */
/* @media (max-width: 992px) {
  .event-card {
    min-width: 100%;
  }
}  */

/* BOOK SECTION */
.book {
  padding: 80px 0;
  background: #f6f6f6;
}

.book-content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.book-left {
  flex: 1;
}

.book-left h3 {
  font-size: 24px;
}

.book-left p {
  margin: 15px 0;
  color: #555;
}

.btn-book {
  padding: 10px 25px;
  background: #ce1212;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.book-right img {
  width: 300px;
  border-radius: 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  font-size: 25px;
}

.modal-content form input,
.modal-content form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.btn-submit {
  background: #ce1212;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  width: 100%;
}

#message {
  margin-top: 10px;
  font-weight: bold;
}

/* CONTACT SECTION */

.contact {
  padding: 80px 0;
  background: #f7f7f7;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h3 {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 2px;
}

.section-title h2 {
  font-size: 36px;
}

.section-title span {
  color: #ce1212;
}

.map iframe {
  width: 100%;
  height: 350px;
  border: 0;
  margin-bottom: 40px;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.info-box {
  background: #fff;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-box .icon {
  font-size: 28px;
  color: #ce1212;
}

.info-box h4 {
  margin-bottom: 5px;
}

.contact-form {
  background: #fff;
  padding: 30px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.contact-form button {
  background: #ce1212;
  color: #fff;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
}

.form-msg {
  margin-top: 15px;
  color: green;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .contact-info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .contact-info {
    grid-template-columns: 1fr;
  }

  .form-row {
    flex-direction: column;
  }
}





